body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    counter-reset: item;
    padding-bottom: 300px;
    padding-top: 100px;
    padding-right: 100px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 300%;
}

html {
    font-size: 1.1rem;
}

label {
    font-family: 'Nunito', sans-serif;
    padding-left: 5px;
}

#kartta {
    height: 300px;
    width: 310px;
    border-radius: 50%;
    margin: auto;
    border: 7px white solid;
}

#kartta2 {
    height: 300px;
    width: 310px;
    border-radius: 50%;
    margin: auto;
    border: 7px white solid;
}

.kartanOtsikko {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: 800;
    text-align: center;
}

#aloitusHaku {
    margin-left: 60px;
    padding-left: 40px;
    border: solid white 5px;
    border-radius: 25px;
}

#logo {
    margin-left: 20px;
    position: center;
    padding-left: 25px;
    padding-top: 10px;
    
}

#logo:hover{
    letter-spacing:3px;
}

#haeNappi {
    margin-left: 180px;
    position: center;
    border: solid 2px white;
    font-weight: 700;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#haeLähin {
    margin-left: 25px;
    border: solid 2px white;
    font-weight: 700;
    box-sizing: border-box;
}

ol {
    list-style: none;
}

li {
    padding: 20px;
    border-bottom: solid #8fd3f4 4px;
    counter-increment: item;
}

li:before {
   content: counter(item);
   font-size: 19px;
   font-weight: bold;
   background: #8fd3f4;
   border: 5px solid #8fd3f4;
   border-radius: 45%;
   color: white;
   text-align: center;
   display: inline-block;
   margin-right: 14px;
   margin-bottom: 7px;
   padding-right: 7px;
   padding-left: 7px;
}

#lista {
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding-left: 50px;
    padding-bottom: 40px;
    padding-top: 10px;
    padding-right: 50px;
}

#lista p {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 2;
}

#myUL li {
   display: none;
   padding: 0px;
   text-decoration: none;
   list-style-type: none;
}

#myUL2 li {
    display: none;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}

input.touched:invalid {
    border: 3px solid salmon;
    background-color: mistyrose;
}

form.submitted input:invalid {
    border: 3px solid salmon;
    background-color: mistyrose;
}

ol p {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: black;
    padding-top: 40px;
    padding-left: 30px;
}

.fas {
    color: white;
    margin-left: 40px;
    margin-bottom: 40px;
    border:none;
    background-color:inherit;
}
